.header2 {
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.header2 a{
  color: #000;
}
.dsp {

  display: inline-flex;
  justify-content: center;
  margin-left: 12px;
  align-items: center;
}

nav ul li a {
  color: #000;
}

#share-story {
  border-bottom: 1px solid orange;
  color: orange
}
img {
  height: 75;
  width:75%
}

.card {
  border: none;
}

.card img {
  height:50%;
  width: 50%;
  display: flex;
  align-content: center;
  align-self: center;
}